<footer class="footer bg-dark p-3 d-flex justify-content-center" style="   grid-row-start: 2;
grid-row-end: 3;">
    <span class="text-muted">TFG Gemma, Ivan, Keila @2022</span>
</footer>
</body>

</html>